{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 push-3">
            <div class="form-container space-2-bottom">
                <h2 class="fill-blue text-center">{% trans "Signup" %}</h2>
                <div class="pad-2 push-1-top push-2-bottom">
                    <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
					{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

					<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
						{% csrf_token %}
						{{ form.as_p }}
						{% if redirect_field_value %}
						<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
						{% endif %}
						<button type="submit" class="space-half-top">{% trans "Sign Up" %} &raquo;</button>
					</form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
