language: python
python:
- '2.7'
addons:
  postgresql: "9.3"

cache:
  directories:
  - $HOME/.pip-cache/

install:
  - pip install -r requirements-dev.txt --allow-all-external --download-cache $HOME/.pip-cache

script:
- flake8

notifications:
  email:
    on_success: change  # [always|never|change]
    on_failure: always  # [always|never|change]
