language: python
sudo: false
python:
- '2.7'
addons:
  postgresql: "9.3"

cache:
  directories:
  - $HOME/.pip-cache/

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qqy pandoc

install:
  - pip install -r requirements-dev.txt --allow-all-external --download-cache $HOME/.pip-cache
  - pip install coveralls

script:
- flake8
- coverage run --source=junction --omit='*tests*,*commands*,*migrations*,*admin*,*wsgi*' -m py.test -v --tb=native
- coverage report

after_success:
  coveralls

notifications:
  email:
    on_success: change  # [always|never|change]
    on_failure: always  # [always|never|change]
