Django==1.10
celery==3.1.20
djangorestframework==3.4
django-filter==1.0.1

# Persistent Store
# -------------------------------------------------
psycopg2-binary==2.8.4
redis==2.10.0
dj-database-url==0.4.1

# Extensions
# -------------------------------------------------
django-extensions==1.7.5
six==1.10
django-sampledatahelper==0.4
unicode-slugify==0.1.3
XlsxWriter==0.7.3
arrow==0.8.0
hashids==1.1.0

# Django Model Helpers
# -------------------------------------------------
django-uuid-upload-path==1.0.0
Pillow==5.4.1

# Auth
# -------------------------------------------------
django-allauth==0.32.0
oauthlib==1.1.2
python-openid==2.2.5
requests==2.20.0
requests-oauthlib==0.5.0
mock==2.0.0 # Django all auth needs

# Admin
# -------------------------------------------------
django_simple_history==1.8.0

# Frontend Helpers
# -------------------------------------------------
django-bootstrap3==7.1.0
django-bootstrap-breadcrumbs==0.8
django-flat-theme==1.1.3

# Markdown Editor
# -------------------------------------------------
django-markdown==0.8.4
django-pagedown==0.1.
mdx-linkify==0.6
Markdown==2.6.6
markdown2==2.3.1

# Server
# ------------------------------------------------
uwsgi==2.0.*

# Device
# ------------------------------------------------
django-uuidfield==0.5.0

# Ticket
qrcode==5.1
jsonfield==1.0.3
