Django==1.7.1
Markdown==2.5.2
django-allauth==0.18.0
django-bootstrap3==5.0.3
django-extensions==1.4.9
django-markdown==0.8.4
django-pagedown==0.1.0
ipython==2.3.1
oauthlib==0.7.2
psycopg2==2.5.4
pyreadline==2.0
python-openid==2.2.5
requests==2.5.1
requests-oauthlib==0.4.2
six==1.8.0
