-r requirements.txt

# Testing
# -------------------------------------------------
mock==1.0.1
factory_boy==2.4.1
flake8==2.2.5
pytest-django==2.7.0
pytest-flakes==0.2
pytest-pythonpath==0.3
pytest-ipdb==0.1-prerelease2

coverage==3.7.1

# Documentation
# --------------------------------------------------
mkdocs==0.11.1
