Django==1.7.9
celery==3.1.18
djangorestframework==3.1.3
django-filter==0.10.0

# Persistent Store
# -------------------------------------------------
psycopg2==2.6.1
redis==2.10.5
dj-database-url==0.4.1

# Extensions
# -------------------------------------------------
django-extensions==1.5.5
six==1.9.0
django-sampledatahelper==0.3
unicode-slugify==0.1.3
XlsxWriter==0.7.3
arrow==0.8.0
hashids==1.1.0

# Django Model Helpers
# -------------------------------------------------
django-uuid-upload-path==1.0.0
Pillow==2.9.0

# Auth
# -------------------------------------------------
django-allauth==0.21.0
oauthlib==0.7.2
python-openid==2.2.5
requests==2.7.0
requests-oauthlib==0.5.0

# Admin
# -------------------------------------------------
django_simple_history==1.6.3

# Frontend Helpers
# -------------------------------------------------
django-bootstrap3==6.1.0
django-bootstrap-breadcrumbs==0.7.3
django-flat-theme==1.1.3

# Markdown Editor
# -------------------------------------------------
django-markdown==0.8.4
django-pagedown==0.1.0
mdx-linkify==0.6
Markdown==2.6.6
markdown2==2.3.1

# Server
# ------------------------------------------------
uwsgi==2.0.*

# Device
# ------------------------------------------------
django-uuidfield==0.5.0

# Ticket
qrcode==5.1
jsonfield==1.0.3
