-r requirements.txt

# Testing
# -------------------------------------------------
factory-boy==2.11.1

flake8==3.7.7
pytest-django==3.4.8
pytest-flakes==4.0.0

coverage==4.5.3

# Documentation
# --------------------------------------------------
mkdocs==1.0.4
bumpversion==0.5.3

# Debugging
# --------------------------------------------------
ipdb==0.12

# Patch for html5lib - issue #520
html5lib==1.0.1
bleach==3.1.0
