{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% load django_bootstrap_breadcrumbs %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %} · {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Sign In" "" %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <!-- ADD has-error class on form-container in case of error -->
      <div class="form-container space-2-bottom {% if form.errors %} has-error {% endif %}">
        <h2 class="text-center">{% trans "Sign In" %}</h2>
        <div class="pad-2 push-half-top push-2-bottom">
          {% get_providers as socialaccount_providers %}
          {% if socialaccount_providers  %}
            <p>
              {% blocktrans %}Sign in with your third party accounts or using an existing account:{% endblocktrans %}
            </p>

            <div class="socialaccount_ballot">
              <div class="text-center">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </div>
              <!-- <div class="login-or">{% trans 'or' %}</div> -->
              <hr>
            </div>

            {% include "socialaccount/snippets/login_extra.html" %}

          {% else %}
            <p>{% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
          {% endif %}

          <form class="form-horizontal login-form"
                method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}

            {% for field in form %}
              <div class="form-group">
                {% if field.name == 'remember' %}
                  <div class="col-lg-8 col-lg-offset-4 checkbox">
                    {{field}}
                    {{field.label_tag}}
                  </div>
                {% else %}
                  <label for="{{field.id_for_label}}"
                        class="col-lg-4 control-label">
                    {{field.label_tag}}
                  </label>
                  <div class="col-lg-8">
                    {{field}}
                    {{ field.errors }}
                  </div>
                {% endif %}
              </div>
            {% endfor %}

            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <div class="form-group">
              <div class="col-lg-8 col-lg-offset-4">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-sign-in space-on-right"></i>
                  {% trans "Sign In" %}
                </button>

                <a class="button space-on-left-lg"
                    href="{% url 'account_reset_password' %}">
                    {% trans "Forgot Password?" %}</a>
              </div>
            </div>
          </form>
        </div>
        <hr>
        <div>
          Don't have an account? Please <a href="{{ signup_url }}">sign up</a>.
        </div>
      </div>
    </div>
  </div>
{% endblock %}
