{% extends "account/base.html" %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Set Password" ""%}
{% endblock %}

{% block head_title %}{% trans "Set Password" %} · {{ block.super }}{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 push-3">
            <div class="form-container space-2-bottom">
                <h2 class="fill-blue text-center">{% trans "Set Password" %}</h2>
                <div class="pad-2 push-1-top push-2-bottom text-center">
                    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" name="action" class="btn btn-primary" value="{% trans "Set Password" %}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
