{% extends "account/base.html" %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Change Password" ""%}
{% endblock %}

{% block head_title %}{% trans "Change Password" %} · {{ block.super }}{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 push-3">
            <div class="form-container space-2-bottom">
                <h2 class="fill-blue text-center">{% trans "Change Password" %}</h2>
                <div class="pad-2 push-1-top push-2-bottom text-center">
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary" type="submit">
                            {% trans "Change Password" %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
