{% extends "account/base.html" %}
{% load i18n %}
{% load account %}

{% load django_bootstrap_breadcrumbs %}

{% block head_title %}{% trans "Password Reset" %} · {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Password Recovery" "" %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="form-container space-2-bottom">
                <h2 class="fill-blue text-center">{% trans "Password Reset" %}</h2>
                <div class="pad-2 push-1-top push-2-bottom">
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                    <form method="POST"
                        action="{% url 'account_reset_password' %}"
                        class="form-horizontal">
                        {% csrf_token %}

                        {% for field in form %}
                          <div class="form-group">
                              <label for="{{field.id_for_label}}"
                                    class="col-lg-4 control-label">
                                {{ field.label_tag }}
                              </label>
                              <div class="col-lg-8">
                                {{ field }}
                                {{ field.errors }}
                              </div>
                          </div>
                        {% endfor %}

                        <div class="form-group">
                            <div class="col-lg-8 col-lg-offset-4">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-refresh space-on-right"></i>
                                    {% trans "Reset My Password" %}
                                </button>
                              </div>
                        </div>
                    </form>
                </div>
                <div class="fill-gray text-center pad-1 push-1">
                    {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
