{% extends "account/base.html" %}
{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 push-3">
            <div class="form-container space-2-bottom">
                <h2 class="fill-blue text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
                <div class="pad-2 push-1-top push-2-bottom">
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                        {% if form %}
                            <form method="POST" action=".">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" name="action" class="space-half-top" value="{% trans "change password" %}"/>
                            </form>
                        {% else %}
                            <p>{% trans 'Your password is now changed.' %}</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


