{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 push-3">
            <div class="form-container space-2-bottom">
                <h2 class="fill-blue text-center">{% trans "Password Reset" %}</h2>
                <div class="pad-2 push-1-top push-2-bottom">
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset space-1-top">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="space-half-top" value="{% trans "Reset My Password" %}" />
                    </form>
                </div>
                <div class="fill-gray text-center pad-1 push-1">
                    {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
