{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% load django_bootstrap_breadcrumbs %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Password Recovery" "" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 push-3">
            <div class="form-container space-2-bottom">
                <h2 class="fill-blue text-center">{% trans "Password Reset" %}</h2>
                <div class="pad-2 push-1-top push-2-bottom">
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p>{% blocktrans %}We have sent you an e-mail for password reset.<br><br>Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
