{% extends "account/base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Password Recovery" "" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 push-3">
            <div class="form-container space-2-bottom">
                <h2 class="fill-blue text-center">{% trans "Change Password" %}</h2>
                <div class="pad-2 push-1-top push-2-bottom text-center">
                    <p><span class="icon icon-checkmark-circle"></span>&nbsp;{% trans 'Your password is now changed.' %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
