{% extends "account/base.html" %}
{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 push-3">
            <div class="form-container space-2-bottom">
                <h2 class="fill-blue text-center">{% trans "Sign Up Closed" %}</h2>
                <div class="pad-2 push-1-top push-2-bottom text-center">
                    <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


