<div class="row text-center">
    <script>!function(d,s,id){
        var js,
        fjs=d.getElementsByTagName(s)[0],
        p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){
        js=d.createElement(s);
        js.id=id;
        js.src=p+'://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js,fjs);
        }}(document, 'script', 'twitter-wjs');
    </script>
    <script>
        window.fbAsyncInit = function() {
        FB.init({
        appId      : '1412981925681662',
        xfbml      : true,
        version    : 'v2.2'
        });
        };

        (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <ul class="list-unstyled">
        <li>
            <p>
                <a href="https://twitter.com/share"
                   class="twitter-share-button"
                   data-via="pyconindia"
                   data-related="pyconindia"
                   data-hashtags="pyconindia">
                    Tweet</a>
            </p>
        </li>
        <li>
            <p>
            <div
                 class="fb-like"
                 data-layout="button_count"
                 data-action="like"
                 data-show-faces="true"
                 data-share="true">
            </div>
            </p>
        </li>
        <li>
            <p>
            <!-- Place this tag where you want the +1 button to render. -->
            <div class="g-plusone" data-size="medium"></div>
            </p>
        </li>
    </ul>
</div>
