{% extends 'base.html' %}
{% load bootstrap3 %}
{% load django_markdown %}
{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block head_title %} Proposal Details | {{ block.super }} {% endblock %}
{% block endhead %}
    <!-- Custom CSS -->
    <link href="{% static 'css/details.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb proposal.conference.name "conference-detail" proposal.conference.slug %}
    {% breadcrumb "Proposals" "proposals-list" proposal.conference.slug %}
    {% breadcrumb proposal.title "proposal-detail" proposal.conference.slug proposal.slug %}
{% endblock %}

{% block content %}

<div class="custom-container">
<div class="proposal-details">
    <div class="row proposal-title">
        <div class="col-sm-11">
            <h1>
                {{ proposal.title }}
            </h1>
            <span>
                by: <b>{{ proposal.author.username }} ({{ proposal.author.get_full_name }})</b>
                date: <b>{{ proposal.created_at }}</b>
            </span>
            {% if can_delete %}
            <div class="proposal-update">
                <a href="{{ proposal.get_update_url }}" >
                <i class="fa fa-pencil-square-o"> </i>
                </a>
                <a href="{{ proposal.get_delete_url }}" >
                <i class="fa fa-trash-o"> </i>
                </a>
                <a href="{{ proposal.get_absolute_url }}#comments" >
                <i class="fa fa-comments-o"> </i>
                </a>
                <a href="{{ proposal.get_absolute_url }}reviewers/#comments" >
                <i class="fa fa-info"> </i>
                </a>
            </div>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div class="col-sm-1">
            <div class="icon-holder  pull-right text-center">
                <div>
                    <h4>
                        {{ vote_value }}
                    </h4>
                </div>
                <div class="icon-holder-bottom">
                    <i class="fa fa-thumbs-down prosal-down-vote">
                    </i>
                    <i class="fa fa-thumbs-up prosal-up-vote">
                    </i>
                </div>
            </div>
            <form id="prosal-up-vote" method="POST" action="{{ proposal.get_up_vote_url }}">
                {% csrf_token %} {{ proposal_vote_form }}
            </form>
            <form id="prosal-down-vote" method="POST" action="{{ proposal.get_down_vote_url }}">
                {% csrf_token %} {{ proposal_vote_form }}
            </form>
        </div>
        {% endif %}
    </div>
    <div class="row porsal-title-section">
        <div class="col-sm-12 fill-blue ">
            <div class="col-xs-12 col-sm-8 padding-less ">
                <b>
                Section :
                </b>
                {{ proposal.proposal_section }}
                <br>
                <b>
                Type :
                </b>
                {{ proposal.proposal_type }}
            </div>
            <div class="col-xs-12 col-sm-4 padding-less ">
                <b>
                Status :
                </b>
                {% if proposal.status == 1 %}
                    Draft
                {% elif proposal.status == 2 %}
                    Public
                {% else %}
                    Cancelled
                {% endif %}
                <br>
                <b>
                Target Audience :
                </b>
                {% if proposal.target_audience == 1 %}
                    Beginner
                {% elif proposal.target_audience == 2 %}
                    Intermediate
                {% else %}
                    Advanced
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row porsal-description">
        <div class="col-sm-12">
            <h4>
                Description :
            </h4>
            <p>
                {{ proposal.description|markdown }}
            </p>

            {% if proposal.prerequisites %}
                <h4>
                    Prerequisites :
                </h4>
                <p>
                    {{ proposal.prerequisites|markdown }}
                </p>
            {% endif %}

            {% if proposal.content_urls %}
                <h4>
                    Content URLS :
                </h4>
                <p>
                    {{ proposal.content_urls|markdown }}
                </p>
            {% endif %}

            {% if proposal.speaker_info %}
                <h4>
                    Speaker Info :
                </h4>
                <p>
                    {{ proposal.speaker_info|markdown }}
                </p>
            {% endif %}

            {% if proposal.speaker_links %}
                <h4>
                    Speaker Links :
                </h4>
                <p>
                    {{ proposal.speaker_links|markdown }}
                </p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" id="comments">
          {% block comments %}
          {% endblock %}
        </div>
    </div>
</div>


{% endblock %}

{% block script_extra %}
 <script type="text/javascript">
    $('.prosal-up-vote').click(function(){
        $("#prosal-up-vote").submit();
    });
    $('.prosal-down-vote').click(function(){
        $("#prosal-down-vote").submit();
    });
    $('.prosal-comment-up-vote').click(function(){
        var form = $(this).parent().parent().parent().find('#prosal-comment-up-vote');
        form.submit();
    });
    $('.prosal-comment-down-vote').click(function(){
        var form = $(this).parent().parent().parent().find('#prosal-comment-down-vote');
        form.submit();
    });
</script>
{% endblock %}
