{% extends 'base.html' %}
{% load bootstrap3 %}
{% load django_markdown %}
{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block head_title %} Proposal Details | {{ block.super }} {% endblock %}
{% block endhead %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb proposal.conference.name "conference-detail" proposal.conference.slug %}
    {% breadcrumb "Proposals" "proposals-list" proposal.conference.slug %}
    {% breadcrumb proposal.title "proposal-detail" proposal.conference.slug proposal.slug %}
{% endblock %}

{% block content %}

<div class="custom-container">
<div class="proposal-details">
    <div class="row">
        <div class="col-sm-12 proposal-header">
            <h1 class="proposal-title">
                {{ proposal.title }}
            </h1>
            <p class="text-muted">
                <small>
                    by: <b>{{ proposal.author.username }} {% if proposal.author.get_full_name %} ({{ proposal.author.get_full_name }}) {% endif %} </b>
                    date: <b>{{ proposal.created_at|date:"d M, Y" }}</b>
                </small>
            </p>

            {% if can_delete %}
                <div class="btn-group" role="group">
                    <a href="{{ proposal.get_update_url }}" class="btn btn-default">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>

                    <a href="{{ proposal.get_delete_url }}" class="btn btn-default" type="button">
                        <i class="fa fa-trash-o"></i>
                    </a>

                    <a href="{{ proposal.get_absolute_url }}#comments" class="btn btn-default" type="button">
                        <i class="fa fa-comments-o"></i>
                    </a>

                    <a href="{{ proposal.get_absolute_url }}reviewers/#comments" class="btn btn-default" type="button">
                        <i class="fa fa-info"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    <hr class="hr-mini">

    <div class="row porsal-description">
        {% if user.is_authenticated %}
        <div class="col-sm-1">
            <div class="text-center">
                <a href="#" class="js-proposal-upvote text-muted">
                    <h4 class="clear-margin">
                        <i class="fa fa-chevron-up fa-2x"></i>
                    </h4>
                </a>

                <h1 class="clear-margin text-muted">
                    {{ vote_value }}
                </h1>

                <a href="#" class="js-proposal-downvote text-muted">
                    <h4 class="clear-margin">
                        <i class="fa fa-chevron-down fa-2x"></i>
                    </h4>
                </a>
            </div>
            <form id="js-proposal-upvote" method="POST" action="{{ proposal.get_up_vote_url }}">
                {% csrf_token %} {{ proposal_vote_form }}
            </form>
            <form id="js-proposal-downvote" method="POST" action="{{ proposal.get_down_vote_url }}">
                {% csrf_token %} {{ proposal_vote_form }}
            </form>
        </div>
        {% endif %}

        <div class="col-sm-8">
            <h4>
                Description :
            </h4>
            <p>
                {{ proposal.description|markdown }}
            </p>

            {% if proposal.prerequisites %}
                <h4>
                    Prerequisites :
                </h4>
                <p>
                    {{ proposal.prerequisites|markdown }}
                </p>
            {% endif %}

            {% if proposal.content_urls %}
                <h4>
                    Content URLS :
                </h4>
                <p>
                    {{ proposal.content_urls|markdown }}
                </p>
            {% endif %}

            {% if proposal.speaker_info %}
                <h4>
                    Speaker Info :
                </h4>
                <p>
                    {{ proposal.speaker_info|markdown }}
                </p>
            {% endif %}

            {% if proposal.speaker_links %}
                <h4>
                    Speaker Links :
                </h4>
                <p>
                    {{ proposal.speaker_links|markdown }}
                </p>
            {% endif %}
        </div>

        <div class="col-sm-3 proposal-meta">
            <table class="table table-borderless">
                <tr>
                    <td class="text-muted text-right"><small>Section:</small></td>
                    <td>{{ proposal.proposal_section }}</td>
                </tr>
                <tr>
                    <td class="text-muted text-right"><small>Type:</small></td>
                    <td>{{ proposal.proposal_type }}</td>
                </tr>
                <tr>
                    <td class="text-muted text-right"><small>Status:</small></td>
                    <td>
                        {% if proposal.status == 1 %}
                            Draft
                        {% elif proposal.status == 2 %}
                            Public
                        {% else %}
                            Cancelled
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="text-muted text-right"><small>Target Audience:</small></td>
                    <td>
                        {% if proposal.target_audience == 1 %}
                            Beginner
                        {% elif proposal.target_audience == 2 %}
                            Intermediate
                        {% else %}
                            Advanced
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-12">
          {% block comments %}
          {% endblock %}
        </div>
    </div>
</div>

{% endblock %}

{% block script_extra %}
 <script type="text/javascript">
    $('.js-proposal-upvote').click(function(){
        $("#js-proposal-upvote").submit();
    });
    $('.js-proposal-downvote').click(function(){
        $("#js-proposal-downvote").submit();
    });
    $('.js-proposal-comment-upvote').click(function(){
        var form = $(this).parent().parent().parent().find('#js-proposal-comment-upvote');
        form.submit();
    });
    $('.js-proposal-comment-downvote').click(function(){
        var form = $(this).parent().parent().parent().find('#js-proposal-comment-downvote');
        form.submit();
    });

    $('.js-add-comment').click(function(e) {
        e.preventDefault();

        var $form = $('.js-new-comment-form');

        $form.slideDown(function() {
            $( e.currentTarget ).hide();
            $("html, body").animate({ scrollTop: $(document).height() }, 500, function() {
                    $form.find( 'textarea' ).focus();
                }
            );
        });
    })
</script>
{% endblock %}
