{% extends 'base.html' %}
{% load bootstrap3 %}
{% load django_markdown %}
{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block head_title %}{{ proposal.title }} | {{ proposal.conference.name }} {% endblock %}
{% block og_title %}{{ proposal.title }} | {{ proposal.conference.name }} {% endblock %}
{% block og_description %} {{ proposal.description|markdown|safe|striptags}} {% endblock %}
{% block page_description %} {{ proposal.description|markdown|safe|striptags}} {% endblock %}

{% block page_classes %} {{ block.super}} proposal proposal-detail {% endblock page_classes %}

{% block endhead %}
    <link href="{% static 'css/sweetalert.css' %}" rel='stylesheet' type='text/css'>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb proposal.conference.name "conference-detail" proposal.conference.slug %}
    {% breadcrumb "Proposals" "proposals-list" proposal.conference.slug %}
    {% breadcrumb proposal.title "proposal-detail" proposal.conference.slug proposal.slug %}
{% endblock %}

{% block navbar_logo %}
    {% if conference.logo %}
    <a href="{% url "conference-detail" conference.slug %}">
        <img src="{{ conference.logo.url }}">
    </a>
    {% else %}
        <a href="#" class="navbar-brand">{{ proposal.conference.name }}</a>
    {% endif %}
{% endblock navbar_logo %}

{% block content %}

<div class="custom-container">
<div class="proposal-details">
    <div class="row">
        <div class="col-sm-12 proposal-header">
            <h1 class="proposal-title">
                {{ proposal.title }}
            </h1>
            <p class="text-muted">
                <small>
                    <i class="fa fa-user"></i> <b>
                          {% if proposal.author.get_full_name %}
                              {{ proposal.author.get_full_name }} (~{{ proposal.author.username }})
                          {% else %}
                              {{ proposal.author.username }}
                          {% endif %}
                          </b> |&nbsp;
                    <i class="fa fa-calendar"></i> <b> <time datetime="{{ proposal.created_at|date:'c' }}" title="Created On">{{ proposal.created_at|date:"d M, Y" }}</time></b>
                </small>
            </p>

            {% if is_author %}
                <div class="btn-group" role="group">
                    <a href="{{ proposal.get_update_url }}"
                       class="btn btn-default"
                       title='Edit...'
                       data-toggle="tooltip" data-placement="bottom">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>

                    <a href="{{ proposal.get_delete_url }}"
                       class="btn btn-default"
                       type="button"
                       title="Delete..."
                       data-toggle="tooltip" data-placement="bottom">
                        <i class="fa fa-trash-o"></i>
                    </a>

                    <a href="#public-comments" class="btn btn-default" type="button" title="Comments"
                       data-toggle="tooltip" data-placement="bottom">
                        <i class="fa fa-comments-o"></i>
                    </a>
                </div>
            {% endif %}

            {% comment %}
              {% if is_reviewer %}
                <a class="tag label label-proposal-type" href="{{ proposal.get_review_url }}">Review proposal</a>
                {% endif %}
            {% endcomment %}

        </div>
    </div>

    <hr class="hr-mini">
    <div class="row proposal-description">
      {% if public_voting_setting %}
         <div class="col-sm-1 section--voting ">
            <div class="text-center">
                {% if can_vote %}
                  <a href="#" title="Up Vote" data-url="{{ proposal.get_up_vote_url }}" class="btn-vote js-proposal-upvote can-remove-vote text-muted {% if vote_value == 1 %} active{% endif %}" data-remove-vote-url="{{ proposal.get_remove_vote_url }}">
                    <i class="fa fa-chevron-up fa-2x"></i>
                  </a>
                {% else %}
                  <span class="text-muted {% if vote_value == 1 %} active btn-vote {% endif %}">
                  <i class="fa fa-chevron-up fa-2x"></i>
                  </span>
                {% endif %}
                {% with proposal.get_votes_count as votes_count %}
                <h1 class="clear-margin text-muted vote-count">
                    {{ votes_count }}
                </h1>
                <div class="text-muted">Vote{{ votes_count|pluralize }}</div>
                {% endwith %}

                {% if can_vote %}
                    <a href="#" title="Down Vote" data-url="{{ proposal.get_down_vote_url }}" class="btn-vote can-remove-vote js-proposal-downvote text-muted {% if vote_value == -1 %} active{% endif %}" data-remove-vote-url="{{ proposal.get_remove_vote_url }}">
                    <i class="fa fa-chevron-down fa-2x"></i>
                    </a>
                {% else %}
                  <span class="text-muted {% if vote_value == -1 %} active btn-vote {% endif %}">
                  <i class="fa fa-chevron-down fa-2x"></i>
                  </span>
                {% endif %}


            </div>
         </div>
      {% endif %}

        <section class="col-sm-8 proposal-writeup">
          <div class="proposal-writeup--section">
            <h4 class='heading'><b>Description:</b></h4>
            <p>{{ proposal.description|markdown }}</p>
          </div>

          {% if proposal.prerequisites %}
          <div class="proposal-writeup--section">
            <h4 class='heading'><b>Prerequisites:</b></h4>
            <p>{{ proposal.prerequisites|markdown }}</p>
          </div>
          {% endif %}

          {% if proposal.content_urls %}
          <div class="proposal-writeup--section">
            <h4 class='heading'><b>Content URLs:</b></h4>
            <p>{{ proposal.content_urls|markdown }}</p>
          </div>
          {% endif %}

          {% if is_reviewer or user.is_authenticated and user.is_superuser %}
              <div class="row">
                  <a id="upload-content" class='btn btn-primary' href="#">
                      Ask proposer to upload content
                  </a>
                  {% if schedule_item %}
                  <a id="view-feedback" class="btn btn-success"
                     href="{% url 'feedback-detail' schedule_item.id %}">Participants Feedback</a>
                  {% endif %}
              </div>
          {% endif %}

          {% if proposal.speaker_info %}
          <div class="proposal-writeup--section">
            <h4 class='heading'><b>Speaker Info:</b></h4>
            <p>{{ proposal.speaker_info|markdown }}</p>
          </div>
          {% endif %}

          {% if proposal.speaker_links %}
          <div class="proposal-writeup--section">
            <h4 class='heading'><b>Speaker Links:</b></h4>
            <p>{{ proposal.speaker_links|markdown }}</p>
          </div>
          {% endif %}

          {% if is_section_reviewer or user.is_authenticated and user.is_superuser %}
              <div class="proposal-writeup--section">
                  <h4 class='heading'><b>Reviewer Actions:</b></h4>
                  <a class='btn btn-primary btn-success' href="{{ proposal.get_vote_url }}">
                      Vote for proposal
                  </a>
              </div>
          {% endif %}

        </section>

        <section class="col-sm-3 proposal-meta">
            <table class="table table-borderless">
                <tr>
                    <td class="text-muted text-right"><small>Section:</small></td>
                    <td>{{ proposal.proposal_section }}</td>
                </tr>
                <tr>
                    <td class="text-muted text-right"><small>Type:</small></td>
                    <td>{{ proposal.proposal_type }}</td>
                </tr>
                {% if is_author %}
                    <tr>
                        <td class="text-muted text-right"><small>Status:</small></td>
                        <td> {{ proposal.get_status_display }} </td>
                    </tr>
                {% endif %}
                <tr>
                    <td class="text-muted text-right"><small>Target Audience:</small></td>
                    <td>
                        {{ proposal.get_target_audience_display }}
                    </td>
                </tr>
                <tr>
                    <td class="text-muted text-right"><small>Last Updated:</small></td>
                    <td>
                        <time datetime="{{ proposal.modified_at|date:'c' }}">{{ proposal.modified_at|date:"d M, Y" }}</time>
                    </td>
                </tr>
            </table>
            {% include "social_shares.html" with conference=proposal.conference %}
        </section>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-12">
          <div role="tabpanel" class="comments-and-reviews-panel" id="comments">
              <ul class="nav nav-tabs" role="tablist">
                  <li class="active" role="presentation" id="public-comments">
                      <a href="#js-comments" role="tab" data-toggle="tab">
                          <i class="fa fa-comments-o"></i>
                          Comments
                      </a>
                  </li>
                  {% if read_private_comment %}
                  <li role="presentation" id="reviewers-comments">
                      <a href="#js-reviewers" role="tab" data-toggle="tab">
                          <i class="fa fa-thumbs-up"></i>
                          Reviews
                      </a>
                  </li>
                  {% endif %}

                  {% if is_reviewer %}
                  <li role="presentation" id="reviewers-only-comments">
                      <a href="#js-only-reviewers" role="tab" data-toggle="tab">
                          <i class="fa fa-thumbs-up"></i>
                          Reviewers Talk
                      </a>
                  </li>
                  {% endif %}
              </ul>

              <div class="tab-content padded">
                  <div class="tab-pane active" id="js-comments" role="tabpanel">
                      {% include "proposals/detail/comments.html"%}
                  </div>
                  {% if read_private_comment %}
                  <div class="tab-pane" id="js-reviewers" role="tabpanel">
                      <span class="alert-info">We hide reviewers information to prevent biased feedback.</span>
                      {% with comments=reviewers_comments proposal_comment_form=reviewers_proposal_comment_form review_comments='1' %}
                          {% include "proposals/detail/comments.html" %}
                      {% endwith %}
                  </div>
                  {% endif %}
                  {% if is_reviewer %}
                  <div class="tab-pane" id="js-only-reviewers" role="tabpanel">
                      <span class="alert-info">This tab is for reviewers only.</span>
                      {% with comments=reviewers_only_comments proposal_comment_form=reviewers_only_proposal_comment_form review_comments='1' %}
                          {% include "proposals/detail/comments.html" %}
                      {% endwith %}
                  </div>
                  {% endif %}
              </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script_extra %}
    <script>
    $(document).ready(function() {

        $('#upload-content').click(function(e){
            e.preventDefault();

            $.ajax({
                method: "POST",
                url: "{% url 'proposal-upload-content' proposal.conference.slug proposal.slug %}",
            })
             .done(function( msg ) {
                 swal( msg );
             });
        });

        $('a[href=#public-comments]').click(function(){
            $('a[href=#js-comments]').parent().addClass('active').siblings().removeClass("active");
        });
        $('a[href=#reviewers-comments]').click(function(){
            $('a[href=#js-reviewers]').parent().addClass('active').siblings().removeClass("active");
        });
        $('a[href=#reviewers-only-comments]').click(function(){
            $('a[href=#js-only-reviewers]').parent().addClass('active').siblings().removeClass("active");
        });

    });
    </script>
{% endblock %}
