{% load bootstrap3 %}
{% load django_markdown %}
{% load humanize %}
{% if not comments %}
<p class="text-muted lead">
    No comments added so far.
</p>
{% endif %}

{% for comment in comments %}
<div class="panel panel-default comment-panel">
    <div class="panel-body">
        <div class="comment-vote-panel text-center">
            <div class="text-center">
                <div>
                    <a href="#" class="js-proposal-comment-upvote text-muted">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                <div>
                    <h5 class="text-muted clear-margin">
                        {{ comment.get_votes_count }}
                    </h5>
                </div>
                <div>
                    <a href="#" class="js-proposal-comment-downvote text-muted">
                        <i class="fa fa-chevron-down"></i>
                    </a>
                </div>
            </div>

            <form id="js-proposal-comment-upvote" method="POST" action="{{ comment.get_up_vote_url }}">
                {% csrf_token %} {{ proposal_comment_vote_form }}
            </form>
            <form id="js-proposal-comment-downvote" method="POST" action="{{ comment.get_down_vote_url }}">
                {% csrf_token %} {{ proposal_comment_vote_form }}
            </form>
        </div>

        <div class="comment-description" id="comment-{{comment.id}}">
            <span>{{ comment.comment|markdown }}</span>
            <b>
                {% if comment.commenter.get_full_name %}
                {{ comment.commenter.get_full_name }} (~{{ comment.commenter.username }})
                {% else %}
                {{ comment.commenter.username }}
                {% endif %}
            </b>
            <small class="text-muted">
                <a href="#comment-{{comment.id}}" class="link-disguise"><time datetime={{comment.created_at|date:"c"}}>{{ comment.created_at|naturaltime }}</time></a>
            </small>
        </div>
    </div>
</div>
{% endfor %}

<div class="add-comment-wrapper">
    {% if user.is_authenticated %}
    <a href="#" class="js-add-comment">add a comment</a>

    <form method="POST" class="new-comment js-new-comment-form" style="display:none;" action="{% url 'proposal-comment-create' proposal.conference.slug proposal.slug %}">
        {% csrf_token %}
        {{ proposal_comment_form.media }}

        {% bootstrap_field proposal_comment_form.comment %}

        {% bootstrap_field proposal_comment_form.private %}

        {% buttons %}
        <button type="submit" class="btn btn-primary">
            Add Comment
        </button>
        {% endbuttons %}
    </form>
    {% else %}
    <p>
        <a href="/accounts/login/?next={{ proposal.get_absolute_url }}">
            Login
        </a>
        to add a new comment.
    </p>
    {% endif %}
</div>
