{% load bootstrap3 %}
{% load django_markdown %}
{% load humanize %}
{% load fromnow from date %}
{% load proposal_filters %}

{% if not comments %}
    <p class="text-muted lead">No comments added so far.</p>
{% endif %}

{% for comment in comments %}
<div class="panel panel-default comment-panel">
    <div class="panel-body">
        <div class="comment-vote-panel text-center">
            <div class="text-center">
                <a href="#" data-url="{{ comment.get_up_vote_url }}" class="btn-vote js-proposal-comment-upvote text-muted
                    {% if request.user.is_authenticated %}
                        {% if comment|has_upvoted_comment:request.user == True %}
                            btn-vote active
                        {% endif %}
                    {% endif %}">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <h5 class="text-muted clear-margin vote-count">
                    {{ comment.get_votes_count }}
                </h5>
                <a href="#" data-url="{{ comment.get_down_vote_url }}" class="btn-vote js-proposal-comment-downvote text-muted
                    {% if request.user.is_authenticated %}
                        {% if comment|has_upvoted_comment:request.user == False %}
                            btn-vote active
                        {% endif %}
                    {% endif %}">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>

        </div>

        {% if comment.is_spam %}
        <div class="comment-description spam" id="comment-{{comment.id}}">
          <span>The comment is marked as spam.</span>
          {% if request.user.is_authenticated and request.user == comment.marked_marked_as_spam_by %}
          <a href="#" data-url="{{ comment.get_unmark_spam_url }}" class="js-unmark-spam">Unmark as spam</a>
          {% endif %}<br/><br/>
          {% else %}
          <div class="comment-description" id="comment-{{comment.id}}">
          <span>{{ comment.comment|markdown }}</span>
          {% if request.user.is_authenticated and request.user != comment.commenter %}
          <a href="#" data-url="{{ comment.get_mark_spam_url }}" class="js-mark-spam">Mark as spam</a><br/><br/>
          {% endif %}
          {% endif %}
            <b>
              {% if comment.private or comment.reviewer %}
                  {% if comment.commenter == proposal.author %}
                  Comment by proposer.
                  {% else %}
                  Comment by {{comment.get_reviewer_nick}}.
                  {% endif %}
              {% else %}
                  {% if comment.commenter.get_full_name %}
                  {{ comment.commenter.get_full_name }} (~{{ comment.commenter.username }})
                  {% else %}
                  {{ comment.commenter.username }}
                  {% endif %}
              {% endif %}
            </b>
            <small class="text-muted">
                <a href="#comment-{{comment.id}}" class="link-disguise"><time datetime={{comment.created_at|date:"c"}}>{{ comment.created_at|fromnow }}</time></a>
            </small>
        </div>
    </div>
</div>
{% endfor %}

<div class="add-comment-wrapper">

  {% if write_private_comment or not review_comments and user.is_authenticated  %}

    <a href="#" class="js-add-comment">add a comment</a>

    <form method="POST" class="new-comment js-new-comment-form" style="display:none;" action="{% url 'proposal-comment-create' proposal.conference.slug proposal.slug %}">
        {% csrf_token %}
        {{ proposal_comment_form.media }}

        {% bootstrap_field proposal_comment_form.comment %}

        {% bootstrap_field proposal_comment_form.private %}

        {% bootstrap_field proposal_comment_form.reviewer %}

        {% buttons %}
        <button type="submit" class="btn btn-primary">
            Add Comment
        </button>
        <button type="button" class="btn btn-default js-hide-comment-form">Cancel</button>
        {% endbuttons %}
    </form>
    {% elif read_private_comment %}
    <!-- pass -->
    {% else %}
    <p>
        <a href="{{login_url}}?next={{ proposal.get_absolute_url }}">
            Login
        </a>
        to add a new comment.
    </p>
    {% endif %}
</div>


{% block script_extra %}
 <script>
    {% if user.is_authenticated %}
    $('.js-proposal-upvote, .js-proposal-downvote, .js-proposal-comment-upvote, .js-proposal-comment-downvote').click(function(e){
        e.preventDefault();
        var _that = $(this);
        var url = _that.attr('data-url'),
            remove_vote_url = _that.attr('data-remove-vote-url');
        if (_that.hasClass('active')){
            if (!remove_vote_url){
                return
             }
             url = remove_vote_url
        }
        $(_that).siblings('.vote-count').html("...");
        $.post(url, {}, function(result){
            $(_that).siblings('.btn-vote').removeClass('active');
            $(_that).toggleClass('active');
            $(_that).siblings('.vote-count').html(result);
        });
    });
  $('.js-mark-spam').click(function(e){
      e.preventDefault();
      var that = $(this);
      var url = that.attr('data-url');
      $.post(url, {}, function(result){
        console.log(result);
              location.reload(true);
          });
  });

    {% else %}
    $('.js-proposal-upvote, .js-proposal-downvote, .js-proposal-comment-upvote, .js-proposal-comment-downvote').click(function(e){
        e.preventDefault();
        window.location = "{% url 'account_login' %}?next={{request.path}}";
        return false;
    });
    {% endif %}

    $( 'body' ).on( 'click', '.js-add-comment', function(e) {
        e.preventDefault();

        var $form = $('.js-new-comment-form');

        $form.slideDown(function() {
            $( e.currentTarget ).hide();
            $("html, body").animate({ scrollTop: $(document).height() }, 500, function() {
                    $form.find( 'textarea' ).focus();
                }
            );
        });
    });
    $( 'body' ).on( 'click', '.js-hide-comment-form', function(e) {
        e.preventDefault();

        var $el = $( e.currentTarget ),
            $form = $el.parents( '.js-new-comment-form' );

        $form.slideUp(function() {
            $( '.js-add-comment' ).show();
        });
    });
</script>
{% endblock %}
