html {
    font-size: 1em;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

html, body {
  height: 100%;
}

footer {
  @bg-color: @junction-color-3;

  padding: 20px 0;
  background-color: @bg-color;
  border-top: 1px solid darken(@bg-color, 5%);
}