// UI stylings and overides

// tags
a.tag {
    color: #fff;
}

input#id_remember {
    margin-left: 0
}

.btn-vote{
    display: inline-block;
    font-size: 1.2em;
    cursor: pointer;

    &.active {
        color: @junction-color-1;
        cursor: default;
    }
}
