// UI stylings and overides

// tags
a.tag {
    color: #fff;
}

input#id_remember {
    margin-left: 0
}

.btn-vote{
    display: inline-block;
    font-size: 1.2em;
    cursor: pointer;

    &.active {
        color: @junction-color-1;
        cursor: default;
    }
}

// Breadcrumb
// ----------------------------------------------------------------------------
.breadcrumb--fixed .container-fluid{
    margin-top: 27px;
}
.breadcrumb--fixed .breadcrumb {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 90000;
    border-radius: 0;
}
