{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static  %}
{% load django_bootstrap_breadcrumbs %}

{% block head_title %} Create Proposal | {{ block.super }} {% endblock %}

{% block endhead %}
    <!-- Custom Form CSS -->
    <link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb conference.name "conference-detail" conference.slug %}
    {% breadcrumb "Proposals" "proposals-list" conference.slug %}
    {% breadcrumb "New" "" %}
{% endblock %}

{% block content %}
{{ form.media }}
<div class="custom-container">
    <div class="row">
        <div class="col-sm-12">
            <h2>New Proposal</h2>
            <p> This form supports <a href="http://daringfireball.net/projects/markdown/" target="_blank"> markdown</a> for formatting.</p>
            <p> Take a look at the  <a href="https://github.com/pythonindia/junction/wiki/Speaker-best-practices" target="_blank"> best practices</a> before submitting.</p>
            <hr>
            <div class="form-container space-2-bottom">
              <form method="POST" action="."> {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>
                {% endbuttons %}
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
