{% extends 'base.html' %}
{% load bootstrap3 %}
{% load django_markdown %}

{% block head_title %} Proposal Details | {{ block.super }} {% endblock %}

{% block endhead %}
<style>
  .required > label:after {
    content: "*";
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 push-3">
        <div class="form-container space-2-bottom">
            <h2 class="fill-blue text-center">Proposal Details</h2>
            <div class="pad-2 push-half-top push-2-bottom">
              <hr>
                <form method='get' action='{% url 'proposal-update' proposal.id %}'>
                    <table>
                        <tr>
                            <td>
                                Title
                            </td>
                            <td class="text-center">
                                {{ proposal.title }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Description
                            </td>
                            <td class="text-center">
                                {{ proposal.description|markdown }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Target Audience
                            </td>
                            <td class="text-center">
                                {% if proposal.target_audience == 1 %}
                                    Beginner
                                {% elif proposal.target_audience == 2 %}
                                    Intermediate
                                {% else %}
                                    Advanced
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Prerequisites
                            </td>
                            <td class="text-center">
                                {{ proposal.prerequisites|markdown }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Content URLS
                            </td>
                            <td class="text-center">
                                {{ proposal.content_urls|markdown }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Speaker Info
                            </td>
                            <td class="text-center">
                                {{ proposal.speaker_info|markdown }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Speaker Links
                            </td>
                            <td class="text-center">
                                {{ proposal.speaker_links|markdown }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Status
                            </td>
                            <td class="text-center">
                                {% if proposal.status == 1 %}
                                    Draft
                                {% elif proposal.status == 2 %}
                                    Public
                                {% else %}
                                    Cancelled
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Proposal Type
                            </td>
                            <td class="text-center">
                                {{ proposal.proposal_type }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Proposal Section
                            </td>
                            <td class="text-center">
                                {{ proposal.proposal_section }}
                            </td>
                        </tr>
                    </table>
                    <button type='submit'>Edit</button>
                </form>
                <br>
                {% if flag == 1 %}
                    <button onclick="location.href='{% url 'proposal-delete' proposal.id %}'">Delete</button>
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock %}
