{% extends 'base.html' %}
{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block head_title %} Proposals | {{ block.super }} {% endblock %}

{% block endhead %}
    <!-- Custom CSS -->
    <link href="{% static 'css/list.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb conference.name "conference-detail" conference.slug %}
    {% breadcrumb "Proposals" "proposals-list" conference.slug %}
{% endblock %}

{% block navbar_logo %}
    {% if conference.logo %}
    <a href="{% url "conference-detail" conference.slug %}">
        <img src="{{ conference.logo.url }}">
    </a>
    {% endif %}
{% endblock navbar_logo %}

{% block header %}
    <div class="clearfix">
        <div class="col-md-12">
            <h1>{{ conference.name }}</h1>
            <p class="meta">
                <b class="text-muted">
                    <span class="start_date">{{ conference.start_date }}</span> –
                    <span class="end_date">{{ conference.end_date }}</span>
                </b>

                <span class="status status-{{conference.status}}">
                    {{ conference.get_status_display }}
                </span>
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
<section class="content custom-container proposal-list">
    <div class="push-4-bottom push-1-top">
        <div class="row">
            <div class="col-xs -12 col-sm-12 ">
                <p class="text-left">{{ conference.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs -12 col-sm-12 ">
                <h2 class="title-underline">Proposal Sections</h2>
                <ol>
                {% for section in proposal_sections %}
                 <li><b>{{section.name}}</b> - {{section.description}}</li>
                {% endfor %}
                </ol>
                <hr class="border-less" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs -12 col-sm-12 ">
                <h2 class="title-underline">Proposal Types</h2>
                <ol>
                {% for types in proposal_types %}
                 <li><b>{{types.name}}</b> - {{types.description}}</li>
                {% endfor %}
                </ol>
            <hr class="border-less" />
            </div>
        </div>
        <div class="row ">
            <div class="col-xs -12 col-sm-12 ">
                {% if conference.status == 1 %}
                    <a class='btn btn-primary pull-right' href="{% url 'proposal-create' conference.slug %}">
                        <i class="fa fa-plus-square-o"></i> New Proposal
                    </a>
                {% endif %}
                <div class="header-tab">
                    <div class="header-tab-title">
                        <h2>List of Proposals</h2>
                        <div id="tabs">
                            <a class="youarehere" href="#" title="">All</a>
                            <!-- <a href="#" title="">Top Commented</a>
                            <a href="#" title="">Top Voted</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if not proposals_list %}
            <p> No proposals found. </p>
        {% endif %}

         {% for proposal in proposals_list %}
          <div class="row">
            <div class="col-xs-12" >
                <div class="proposal-list-content">
                    <div class="col-sm-1 hidden-xs proposal-stats">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 class="clear-margin">{{ proposal.get_votes_count }}</h4>
                                <small class="text-muted">
                                    Votes
                                </small>
                            </div>
                        </div>
                        <div class="text-center space-on-top">
                            <i class="fa fa-comments-o"></i>
                            <span class="align-middle">
                                {{ proposal.get_comments_count }}
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-11 col-xs-12">
                        <p class="col-xs-12  visible-xs">
                            <span class="pull-left">
                                <i class="fa fa-comments"></i>10
                            </span>
                            <span class="pull-right">
                                <i class="fa fa-thumbs-up"></i>25
                            </span>
                        </p>
                        <h3 class="clear-margin-top">
                            <a href='{{ proposal.get_absolute_url }}'>{{ forloop.counter}}. {{ proposal.title }}</a>
                        </h3>
                        <p>{{ proposal.description|truncatechars:200 }}</p>
                        <div class="clearfix">
                            <div class="pull-left">
                                <span class="label label-default inline-block">
                                    {{ proposal.proposal_type }}
                                </span>
                                <span class="label label-default inline-block">
                                    {{ proposal.proposal_section }}
                                </span>
                            </div>

                            <small class="pull-right">
                                by <b>{{ proposal.author.username }} ({{ proposal.author.get_full_name }})</b> |&nbsp;
                                <b>Date:</b> {{ proposal.created_at|date:"d M, Y" }}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- <div class="row">
            <div class="col-xs-12  text-center"  >
                <nav>
                    <ul class="pagination">
                        <li class="disabled">
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">1
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div> -->
    </div>
</section>
{% endblock %}

{% block script_extra %}
<script>
$(document).ready(function() {
    $('#proposal_list').dataTable();
} );
</script>
{% endblock %}
