{% extends 'base.html' %}
{% load markdown_deux_tags %}


{% load static  %}
{% load django_bootstrap_breadcrumbs %}

{% block head_title %} {{ conference.name }} Reviewers dashbaord {% endblock %}
{% block og_title %} {{ conference.name }} Reviewers dashboard {% endblock %}
{% block og_description %} {{ conference.description|markdown|safe|striptags}} {% endblock %}
{% block page_description %} {{ conference.description|markdown|safe|striptags}} {% endblock %}

{% block endhead %}
<!-- Custom CSS -->
<link href="{% static 'css/list.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb conference.name "conference-detail" conference.slug %}
{% breadcrumb "Dashboard" "proposals-dashoboard" conference.slug %}
{% endblock %}


{% block navbar_logo %}
{% if conference.logo %}
<a href="{% url "conference-detail" conference.slug %}">
  <img src="{{ conference.logo.url }}">
</a>
{% else %}
<a href="#" class="navbar-brand">{{ conference.name }}</a>
{% endif %}
{% endblock navbar_logo %}

{% block page_classes %}{{ block.super}} page-proposals{% endblock page_classes %}

{% block content %}
<section class="content custom-container proposal-list">
  <div class="push-4-bottom push-1-top">
    <div class="row">
      <div class="col-xs -12 col-sm-12 ">
        <p class="meta">
          <b class="text-muted">
            <span class="start_date">{{ conference.start_date }}</span> –
            <span class="end_date">{{ conference.end_date }}</span>
          </b>
          <span class="status status-{{conference.status}}">
            {{ conference.get_status_display }}
          </span>
        </p>
        <hr>
      </div>
    </div>
  </div>

  <section class="content custom-container proposal-list">
    <div class="push-4-bottom push-1-top">
      <div class="row">
        <div class="col-xs -12 col-sm-12 ">
          <p class="meta">
            <h2 class="panel-heading">{{ state }} proposals</h2>
          </p>
          <hr>
          <div class="#proposals" class="row"">
            {% for section, proposal_list in proposals.items %}
            <h3 class="section-title">{{ section }}</h3>
            {% for proposal in proposal_list %}
            <h4 class="proposal--title">
              <a href='{{ proposal.get_absolute_url }}'>{{ forloop.counter}}. {{ proposal.title|capfirst }}</a>
              - {{ proposal.proposal_type }}
            </h4>
            {% endfor %}
            <hr>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
