{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block head_title %} Review Proposal | {{ block.super }} {% endblock %}

{% block endhead %}
    <!-- Custom Form CSS -->
    <link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb proposal.conference.name "conference-detail" proposal.conference.slug %}
    {% breadcrumb "Proposals" "proposals-list" proposal.conference.slug %}
    {% breadcrumb proposal.title "proposal-detail" proposal.conference.slug proposal.slug %}
    {% breadcrumb "review" "" %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-6">
        <div class="space-2-bottom">
            <h4 class="fill-blue text-center">Review Proposal </h4>
            <hr class="hr-mini">
            <form method="POST" action="." class="review-form form-horizontal">
                {% csrf_token %}

                <div class="form-group clearfix">
                  {% for field in proposal_review_form %}
                    {% if field.errors %}
                      {{field.errors}}
                    {% endif %}

                    <label for="" class="control-label col-sm-4">
                        {{field.label}}
                    </label>

                    <div class="col-sm-8">
                        {{field}}
                    </div>
                  {% endfor %}
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-primary">
                          Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-sm-6 left-bordered">
        <h4 class="text-center">Reviewers Comments </h4>
        <hr class="hr-mini">
        <div class="col-sm-12">
            <div role="tabpanel" class="comments-and-reviews-panel" id="comments">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active" role="presentation">
                        {% with comments=reviewers_comments proposal_comment_form=reviewers_proposal_comment_form %}
                            {% include "proposals/detail/comments.html" %}
                        {% endwith %}
                    </li>
            </div>
        </div>
    </div>
</div>
{% endblock %}
