{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static  %}
{% load django_bootstrap_breadcrumbs %}

{% block head_title %} Edit Proposal | {{ block.super }} {% endblock %}

{% block endhead %}
    <!-- Custom Form CSS -->
    <link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb proposal.conference.name "conference-detail" proposal.conference.slug %}
    {% breadcrumb "Proposals" "proposals-list" proposal.conference.slug %}
    {% breadcrumb proposal.title "proposal-detail" proposal.conference.slug proposal.slug %}
    {% breadcrumb "edit" "" %}
{% endblock %}

{% block content %}
{{ form.media }}
<div class="custom-container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Edit Proposal </h2>
            <p> This form supports <a href="http://daringfireball.net/projects/markdown/" target="_blank"> markdown</a> for formatting.</p>
            <hr>
            <div class="form-container space-2-bottom">
                <form method="POST" action="." class="edit-proposal-form"> {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                    {% endbuttons %}
                  </form>
                </div>
        </div>
    </div>
</div>
{% endblock %}
