{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block head_title %} Edit Proposal | {{ block.super }} {% endblock %}

{% block endhead %}
    <!-- Custom Form CSS -->
    <link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb proposal.conference.name "conference-detail" proposal.conference.slug %}
    {% breadcrumb "Proposals" "proposals-list" proposal.conference.slug %}
    {% breadcrumb proposal.title "proposal-detail" proposal.conference.slug proposal.slug %}
    {% breadcrumb "edit" "" %}
{% endblock %}

{% block content %}
{{ form.media }}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 push-3">
        <div class="form-container space-2-bottom">
            <h2 class="fill-blue text-center">Edit Proposal </h2>
            <div class="pad-2 push-half-top push-2-bottom">
              <hr>
              <form method="POST" action="."> {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                {% endbuttons %}
              </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}
