  .form-container{
    box-shadow:none;
  }
  .required > label.control-label:after {
    content: "*:";
  }
  label.control-label:after{
    content :":";
  }
  label.control-label{
      width:24%;
      padding-right:2%;
      text-align:right;
  }
  .form-container input[type=text]{
    display: inline;
    width: 76%;
  }

  @media (max-width: 480px) {
    label.control-label{
        display: block;
        width:100%;
        text-align:left;
    }
    .form-container input[type=text]{
        display: block;
        width: 100%;
    }
}


/*
  Proposals
------------------------------------------------------------------------------ */
div#id_proposal_type,
div#id_proposal_section
{
  display: inline-block;
  vertical-align: top;
}

div#id_proposal_type .radio,
div#id_proposal_section .radio {
  margin-top: 0;
}

/* Editor */

.wmd-preview {
  background-color: #fff !important;
  border: 2px dashed #ccc;
}
@media (min-width: 800px) {
  .wmd-panel {
    margin-top: -35px;
    margin-bottom: 50px;
  }
  .wmd-preview {
    margin-bottom: 10px;
  }
}
