  .form-container{
    box-shadow:none;
  }
  .required > label.control-label:after {
    content: "*:";
  }
  label.control-label:after{
    content :":";
  }
  label.control-label{
      text-align:right;
      padding-right: 1em;
  }
  .form-container input[type=text]{
    display: inline;
    width: 76%;
  }

  .edit-proposal-form label.control-label {
    width:24%;
    padding-right:2%;
  }

  @media (max-width: 480px) {
    label.control-label{
        display: block;
        width:100%;
        text-align:left;
    }
    .form-container input[type=text]{
        display: block;
        width: 100%;
    }
}


/* Proposals */

.dropdown {
    display: inline;
    width: auto;
}


/* Editor */

.wmd-preview {
  background-color: #fff !important;
  border: 2px dashed #ccc;
}
@media (min-width: 800px) {
  .wmd-panel {
    margin-top: -35px;
    margin-bottom: 50px;
  }
  .wmd-preview {
    margin-bottom: 10px;
  }
}
