.nospace, .nospace-top {
  margin-top: 0 !important;
}

.nospace, .nospace-bottom {
  margin-bottom: 0 !important;
}

.space-1q, .space-1q-top {
  margin-top: 0.25em;
}

.space-1q, .space-1q-bottom {
  margin-bottom: 0.25em;
}

.space-half, .space-half-top {
  margin-top: 0.5em;
}

.space-half, .space-half-bottom {
  margin-bottom: 0.5em;
}

.space-3q, .space-3q-top {
  margin-top: 0.75em;
}

.space-3q, .space-3q-bottom {
  margin-bottom: 0.75em;
}

.space-1, .space-1-top {
  margin-top: 1em;
}

.space-1, .space-1-bottom {
  margin-bottom: 1em;
}

.space-line, .space-line-top {
  margin-top: 1.5em;
}

.space-line, .space-line-bottom {
  margin-bottom: 1.5em;
}

.space-2, .space-2-top {
  margin-top: 2em;
}

.space-2, .space-2-bottom {
  margin-bottom: 2em;
}

.space-2h, .space-2h-top {
  margin-top: 2.5em;
}

.space-2h, .space-2h-bottom {
  margin-bottom: 2.5em;
}

.space-3, .space-3-top {
  margin-top: 3em;
}

.space-3, .space-3-bottom {
  margin-bottom: 3em;
}

.space-4, .space-4-top {
  margin-top: 4em;
}

.space-4, .space-4-bottom {
  margin-bottom: 4em;
}

.space-neg-1q, .space-neg-1q-top {
  margin-top: -0.25em;
}

.space-neg-1q, .space-neg-1q-bottom {
  margin-bottom: -0.25em;
}

.space-neg-half, .space-neg-half-top {
  margin-top: -0.5em;
}

.space-neg-half, .space-neg-half-bottom {
  margin-bottom: -0.5em;
}

.space-neg-3q, .space-neg-3q-top {
  margin-top: -0.75em;
}

.space-neg-3q, .space-neg-3q-bottom {
  margin-bottom: -0.75em;
}

.space-neg-1, .space-neg-1-top {
  margin-top: -1em;
}

.space-ned-1, .space-neg-1-bottom {
  margin-bottom: -1em;
}

.space-neg-2, .space-neg-2-top {
  margin-top: -2em;
}

.space-ned-2, .space-neg-2-bottom {
  margin-bottom: -2em;
}

.space-neg-3, .space-neg-3-top {
  margin-top: -3em;
}

.space-ned-3, .space-neg-3-bottom {
  margin-bottom: -3em;
}

.space-neg-box, .space-neg-box-top {
  margin-top: -3.7em;
}

.space-neg-box, .space-neg-box-bottom {
  margin-bottom: -3.7em;
}

.space-neg-4, .space-neg-4-top {
  margin-top: -4em;
}

.space-ned-4, .space-neg-4-bottom {
  margin-bottom: -4em;
}

.push-1q, .push-1q-top {
  padding-top: 0.25em;
}

.push-1q, .push-1q-bottom {
  padding-bottom: 0.25em;
}

.push-half, .push-half-top {
  padding-top: 0.5em;
}

.push-half, .push-half-bottom {
  padding-bottom: 0.5em;
}

.push-3q, .push-3q-top {
  padding-top: 0.75em;
}

.push-3q, .push-3q-bottom {
  padding-bottom: 0.75em;
}

.push-1, .push-1-top {
  padding-top: 1em;
}

.push-1, .push-1-bottom {
  padding-bottom: 1em;
}

.push-line, .push-line-top {
  padding-top: 1.5em;
}

.push-line, .push-line-bottom {
  padding-bottom: 1.5em;
}

.push-2, .push-2-top {
  padding-top: 2em;
}

.push-2, .push-2-bottom {
  padding-bottom: 2em;
}

.push-2h, .push-2h-top {
  padding-top: 2.5em;
}

.push-2h, .push-2h-bottom {
  padding-bottom: 2.5em;
}

.push-3, .push-3-top {
  padding-top: 3em;
}

.push-3, .push-3-bottom {
  padding-bottom: 3em;
}

.push-4, .push-4-top {
  padding-top: 4em;
}

.push-4, .push-4-bottom {
  padding-bottom: 4em;
}

.push-5, .push-5-top {
  padding-top: 5em;
}

.push-5, .push-5-bottom {
  padding-bottom: 5em;
}

.push-6, .push-6-top {
  padding-top: 6em;
}

.push-6, .push-6-bottom {
  padding-bottom: 6em;
}

.push-8, .push-8-top {
  padding-top: 8em;
}

.push-8, .push-8-bottom {
  padding-bottom: 8em;
}

.no-pad, .no-pad-left {
  padding-left: 0;
}

.no-pad, .no-pad-right {
  padding-right: 0;
}

.pad-half, .pad-half-left {
  padding-left: 0.5em;
}

.pad-half, .pad-half-right {
  padding-right: 0.5em;
}

.pad-3q, .pad-3q-left {
  padding-left: 0.75em;
}

.pad-3q, .pad-3q-right {
  padding-right: 0.75em;
}

.pad-1, .pad-1-left {
  padding-left: 1em;
}

.pad-1, .pad-1-right {
  padding-right: 1em;
}

.pad-line, .pad-line-left {
  padding-left: 1.5em;
}

.pad-line, .pad-line-right {
  padding-right: 1.5em;
}

.pad-2, .pad-2-left {
  padding-left: 2em;
}

.pad-2, .pad-2-right {
  padding-right: 2em;
}

.pad-2h, .pad-2h-left {
  padding-left: 2.5em;
}

.pad-2h, .pad-2h-right {
  padding-right: 2.5em;
}

.pad-3, .pad-3-left {
  padding-left: 3em;
}

.pad-3, .pad-3-right {
  padding-right: 3em;
}

.pad-4, .pad-4-left {
  padding-left: 4em;
}

.pad-4, .pad-4-right {
  padding-right: 4em;
}

.inlineblock {
  display: inline-block !important;
}
a.white:hover {
  color: white;
}
.white {
    color: #FFF;
}
.yellow {
    color: #ffdd55 !important;
}
.blue {   
    color: #2c5aa0;
}
.green {
  color: #75c16a;
}
.red {
  color: #a94442;
}
.gray{   
    color: #CCC;
}
.fill-yellow {
    background-color: #ffdd55;
}
.fill-blue {   
    background-color: #2c5aa0;
}
.fill-blue-alt {   
    background-color: #214478;
}
.fill-white {   
    background-color: #FFF;
}
.fill-gray {   
    background-color: #EEE;
}
.normal {
    font-weight: 400;
}
.card {
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.center-wrapper {
    display: table;
}
.absolute-center {
    display: table-cell;
    vertical-align: middle;
}
.measure-block {
    width: 80%;
    margin: auto;
}
.tint {
  font-size: 0.6em;
}
html, body {
  height: 100%;
}
body {
  height: auto;
  min-height: 100%;
  position: relative;
}
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
}

.form-container {
  background: #FFF;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  border-radius: 0.15em;
}
.form-container h2 {
  text-transform: uppercase;
  font-size: 1.1em;
  padding: 0.8em 0;
  border-top-left-radius: 0.15em;
  border-top-right-radius: 0.15em;
  color: #FBFBF6;
}
.form-container input[type=text] + label {
  visibility: hidden;
  width: 0;
  height: 0;
}
.form-container input[type=text], .form-container input[type=password], .form-container input[type=email], .form-container input[type=url], .form-container textarea {
  border: 2px solid #CCC;
  padding: 0.5em 1em;
  width: 100%;
  border-radius: 0.3em;
}
button, .form-container input[type=submit] {
  background: #ffdd55;
  border: 1px solid #dabd42;
  border-radius: 0.3em;
  color: #7C6E0D;
  padding: 0.3em 1.5em 0.4em 1.5em;
}
button:hover {
  color: #695E13;
  background-color: #dabd42;
  border-color: #C2A737;
}
.flushright {
  float: right;
}
.flushleft {
  float: left;
}
.clearboth {
  clear: both;
}

ul.errorlist{
  padding: 0;
  margin: 0;
}
ul.errorlist li {
  list-style-type: none;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  color: #a94442;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

.legible {
  font-size: 1.5em;
  line-height: 1.4em;
}
.legible-prose {
  font-size: 1.2em;
  line-height: 1.5em;
}
.regular {
  font-size: 1em;
  line-height: 1.4em;
}
