{% extends 'blank_base.html' %}

{% block content %}
<div style="position:absolute;left:20%;width: 700px;padding-right: 12px;color: #000000;">
    
    <img style="padding-left: 77%;padding-bottom: 6%;" src="/static/images/pssi_logo.png" >
    
    {% if class == "Conference" %}
        <p style="padding: 5px;font-size: 20px;border: 1px solid #000;background: #09AC2C;color: #FFFFFF;">
        {{name}} conference data has been modified by {{modified_user}} on {{modified_date}}
        </p>
        <br />
        <p><b>Conference Name: </b> {{name}}</p>
        <p><b>Conference Description: </b> {{description}}</p>
        <p><b>Conference Start Date: </b> {{start_date}}</p>
        <p><b>Conference End Date: </b> {{end_date}}</p>
        <p><b>Conference Status: </b> {{status}}</p>
    {% endif %}
    
    {% if class == "ConferenceModerator" %}
        <p style="padding: 5px;font-size: 20px;border: 1px solid #000;background: #09AC2C;color: #FFFFFF;">
        A new Moderator has been added to the conference {{conference_name}} on {{added_date}}
        </p>
        <br />
        <p><b>Moderator Name: </b> {{moderator}}</p>
    {% endif %}
    
    {% if class == "ConferenceProposalReviewer" %}
        <p style="padding: 5px;font-size: 20px;border: 1px solid #000;background: #09AC2C;color: #FFFFFF;">
        A new Proposal Reviewer has been added to the conference {{conference_name}} on {{added_date}}
        </p>
        <br />
        <p><b>Proposal Reviewer Name: </b> {{reviewer}}</p>
    {% endif %}

</div>
{% endblock %}
