{% extends 'base.html' %}

{% load django_markdown %}
{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load proposal_filters %}

{% block head_title %} Profile {% endblock %}
{% block og_title %} Profile {% endblock %}
{% block og_description %} Profile {% endblock %}
{% block page_description %} Profile {% endblock %}

{% block endhead %}
    <!-- Custom CSS -->
    <link href="{% static 'css/list.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Dashboard" "user-proposals-list" %}
    {% breadcrumb "Profile" "user-profile"%}
{% endblock %}

{% block navbar_logo %}
        <a href="#" class="navbar-brand">Junction</a>
{% endblock navbar_logo %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="form-container space-2-bottom {% if form.errors %} has-error {% endif %}">
               <h2 class="text-center">Edit Profile</h2>
                <div class="pad-2 push-half-top push-2-bottom">
                    <p> {% block trans %} Add Your City and Contact Number:{% endblock %} </p>
                    <form class="form-horizontal login-form" method="POST">
                        {% csrf_token %}
                    </form>


            </div>
        </div>
    </div>
</div>


{% endblock %}
